<h1>Dashboard</h1>

<p>ダッシュボード</p>

<div class="button-row">
    <button mat-button>Basic</button>
    <button mat-button color="primary">Primary</button>
    <button mat-button color="accent">Accent</button>
    <button mat-button color="warn">Warn</button>
    <button mat-button disabled>Disabled</button>
    <a mat-button routerLink=".">Link</a>
</div>

<h3>Raised Buttons</h3>
<div class="button-row">
    <button mat-raised-button (click)="onClick_TransTopScreen($event)">onClick_TransTopScreen</button>
    <button mat-raised-button (click)="onClick_CategoryListTransitionSample($event)">onClick_CategoryListTransitionSample</button>
    <button mat-raised-button (click)="onClick_UpdateCategoryTree($event)">onClick_UpdateCategoryTree</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button routerLink=".">Link</a>
</div>

aaaaaaaaa<br />

<font class="aaa">RED</font> text

<div>
    <category-tree></category-tree>
</div>
