<div class="row">
  <div class="col-1" *ngFor="let article of viewmodel.ContentListPageItem; let i = index">
    <!-- Card -->
    <div class="card" style="margin-bottom:10px">
      <!-- Card image -->
      <img class="card-img-top" src="{{article.ThumbnailUrl}}" alt="Card image cap">
      <!-- Card content -->
      <div class="card-body">
        <!-- Title -->
        <h6 class="card-title"><a (click)="onClick(article, i)">{{article.Content.Name}}</a></h6>
      </div>
    </div>
    <!-- Card -->
  </div>
</div>
