<mat-sidenav-container class="pixstock-container">
  <mat-sidenav #sidenav [mode]="over">
    <p>
      <button mat-button (click)="sidenav.toggle()">Toggle</button>
    </p>
  </mat-sidenav>
  <mat-sidenav-content>

    <h3>Basic Buttons</h3>
    <div class="button-row">
      <div>
          <button mat-button (click)="onBACK()" color="primary">戻る遷移</button><br>
        <button mat-button (click)="onTRNS_TOPSCREEN()" color="primary">TRNS_TOPSCREEN</button><br>
        <button mat-button (click)="onTrnsFinder()" color="primary">ファインダ画面表示</button><br>
        <button mat-button (click)="onACT_REQINVALIDATE_CATEGORYTREE()" color="primary">ACT_REQINVALIDATE_CATEGORYTREE</button>

        <button mat-button (click)="onDebugTransrationRoot()" color="primary">ルート状態に強制遷移</button>
      </div>
    </div>

    <div style="height:100%" >
      <dashboard *ngIf="viewModel.screenStatus.dashboard"></dashboard>
      <preview *ngIf="viewModel.screenStatus.preview"></preview>
      <finder *ngIf="viewModel.screenStatus.finder"></finder>
    </div>

    <!--Footer-->
    <footer class="page-footer mdb-color text-center text-md-left pt-4 mt-4">

    </footer>
    <!--/.Footer-->
  </mat-sidenav-content>
</mat-sidenav-container>
